In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# make plots look nice
plt.rcParams['font.size'] = 14
plt.rcParams['axes.labelsize'] = 'large'
plt.rcParams['xtick.labelsize'] = 'large'
plt.rcParams['ytick.labelsize'] = 'large'
plt.rcParams['lines.linewidth'] = 3
plt.style.use('ggplot')

In [2]:
cpj = pd.read_csv('../data/Journalists Imprisoned between 1992 and 2020.csv')
cpj.head()

,year,combinedStatus,fullName,sortName,primaryNationality,secondaryNationality,tertiaryNationality,gender,photoUrl,photoCredit,...,threatened,charges,motive,lengthOfSentence,healthProblems,impCountry,entry,sentenceDate,sentence,locationImprisoned
0,2018,Imprisoned,Aasif Sultan,NaN,India,NaN,NaN,Male,https://cpj-photos.s3.us-west-2.amazonaws.com/...,Muzamil Mattoo/Kashmir Narrator,...,NaN,Anti-state,NaN,Sentence pending,Yes,NaN,NaN,NaN,Not sentenced,NaN
1,2019,Imprisoned,Aasif Sultan,NaN,India,NaN,NaN,Male,https://cpj-photos.s3.us-west-2.amazonaws.com/...,Muzamil Mattoo/Kashmir Narrator,...,NaN,Anti-state,NaN,Sentence pending,Yes,NaN,NaN,NaN,Not sentenced,NaN
2,1997,Imprisoned,Abay Hailu,NaN,Ethiopia,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,1 year to <5 years,Yes,NaN,NaN,NaN,1 year,NaN
3,1993,Imprisoned,Abbas Abdi,NaN,Iran,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,1 year to <5 years,No,NaN,NaN,NaN,1 year,NaN
4,2011,Imprisoned,Abd al-Karim Thail,NaN,Yemen,NaN,NaN,Male,NaN,NaN,...,NaN,No Charge,NaN,Not Sentenced,No,NaN,NaN,NaN,Not Sentenced,NaN

In [3]:
cpj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      4854 non-null   int64
 1   combinedStatus            4854 non-null   object
 2   fullName                  4854 non-null   object
 3   sortName                  0 non-null      float64
 4   primaryNationality        4838 non-null   object
 5   secondaryNationality      29 non-null     object
 6   tertiaryNationality       0 non-null      float64
 7   gender                    4774 non-null   object
 8   photoUrl                  526 non-null    object
 9   photoCredit               529 non-null    object
 10  type                      4854 non-null   object
 11  lastStatus                1156 non-null   object
 12  typeOfDeath               0 non-null      float64
 13  status                    4854 non-null   object
 14  employedAs                4088 non-null   object
 15  organizations             4814 non-null   object
 16  jobs                      4726 non-null   object
 17  coverage                  4115 non-null   object
 18  mediums                   4753 non-null   object
 19  country                   4854 non-null   object
 20  location                  892 non-null    object
 21  region                    77 non-null     object
 22  state                     6 non-null      object
 23  locality                  843 non-null    object
 24  province                  146 non-null    object
 25  localOrForeign            4854 non-null   object
 26  sourcesOfFire             0 non-null      float64
 27  motiveConfirmed           0 non-null      float64
 28  accountabilityCrossfire   0 non-null      float64
 29  accountabilityAssignment  0 non-null      float64
 30  impunityMurder            0 non-null      float64
 31  tortured                  0 non-null      float64
 32  captive                   0 non-null      float64
 33  threatened                0 non-null      float64
 34  charges                   4676 non-null   object
 35  motive                    0 non-null      float64
 36  lengthOfSentence          4476 non-null   object
 37  healthProblems            4853 non-null   object
 38  impCountry                0 non-null      float64
 39  entry                     0 non-null      float64
 40  sentenceDate              0 non-null      float64
 41  sentence                  4480 non-null   object
 42  locationImprisoned        1256 non-null   object
dtypes: float64(15), int64(1), object(27)
memory usage: 1.6+ MB

In [4]:
# drop columns with all nulls
cpj.dropna(axis=1, how='all', inplace=True)
cpj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  4854 non-null   int64
 1   combinedStatus        4854 non-null   object
 2   fullName              4854 non-null   object
 3   primaryNationality    4838 non-null   object
 4   secondaryNationality  29 non-null     object
 5   gender                4774 non-null   object
 6   photoUrl              526 non-null    object
 7   photoCredit           529 non-null    object
 8   type                  4854 non-null   object
 9   lastStatus            1156 non-null   object
 10  status                4854 non-null   object
 11  employedAs            4088 non-null   object
 12  organizations         4814 non-null   object
 13  jobs                  4726 non-null   object
 14  coverage              4115 non-null   object
 15  mediums               4753 non-null   object
 16  country               4854 non-null   object
 17  location              892 non-null    object
 18  region                77 non-null     object
 19  state                 6 non-null      object
 20  locality              843 non-null    object
 21  province              146 non-null    object
 22  localOrForeign        4854 non-null   object
 23  charges               4676 non-null   object
 24  lengthOfSentence      4476 non-null   object
 25  healthProblems        4853 non-null   object
 26  sentence              4480 non-null   object
 27  locationImprisoned    1256 non-null   object
dtypes: int64(1), object(27)
memory usage: 1.0+ MB

In [5]:
cpj.dropna(axis=1, thresh=1000, inplace=True)
cpj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                4854 non-null   int64
 1   combinedStatus      4854 non-null   object
 2   fullName            4854 non-null   object
 3   primaryNationality  4838 non-null   object
 4   gender              4774 non-null   object
 5   type                4854 non-null   object
 6   lastStatus          1156 non-null   object
 7   status              4854 non-null   object
 8   employedAs          4088 non-null   object
 9   organizations       4814 non-null   object
 10  jobs                4726 non-null   object
 11  coverage            4115 non-null   object
 12  mediums             4753 non-null   object
 13  country             4854 non-null   object
 14  localOrForeign      4854 non-null   object
 15  charges             4676 non-null   object
 16  lengthOfSentence    4476 non-null   object
 17  healthProblems      4853 non-null   object
 18  sentence            4480 non-null   object
 19  locationImprisoned  1256 non-null   object
dtypes: int64(1), object(19)
memory usage: 758.6+ KB

In [6]:
cpj['combinedStatus'].value_counts()

Imprisoned    4853
imprisoned       1
Name: combinedStatus, dtype: int64

In [7]:
cpj['lastStatus'].value_counts()

Imprisoned    1145
Killed          11
Name: lastStatus, dtype: int64

In [8]:
cpj['status'].value_counts()

Imprisoned    4853
imprisoned       1
Name: status, dtype: int64

In [9]:
cpj.drop(['combinedStatus','lastStatus','status'], axis=1, inplace=True)
cpj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                4854 non-null   int64
 1   fullName            4854 non-null   object
 2   primaryNationality  4838 non-null   object
 3   gender              4774 non-null   object
 4   type                4854 non-null   object
 5   employedAs          4088 non-null   object
 6   organizations       4814 non-null   object
 7   jobs                4726 non-null   object
 8   coverage            4115 non-null   object
 9   mediums             4753 non-null   object
 10  country             4854 non-null   object
 11  localOrForeign      4854 non-null   object
 12  charges             4676 non-null   object
 13  lengthOfSentence    4476 non-null   object
 14  healthProblems      4853 non-null   object
 15  sentence            4480 non-null   object
 16  locationImprisoned  1256 non-null   object
dtypes: int64(1), object(16)
memory usage: 644.8+ KB

In [11]:
cpj['gender'].value_counts()

Male      4379
Female     395
Name: gender, dtype: int64

In [12]:
cpj['type'].value_counts()

Journalist    4854
Name: type, dtype: int64

In [13]:
cpj.drop('type', axis=1, inplace=True)

In [14]:
cpj['employedAs'].value_counts()

Staff        2788
Freelance    1298
staff           2
Name: employedAs, dtype: int64

In [15]:
cpj['organizations'].value_counts()

Freelance                            1129
Al-Nida                                86
Radio Bana                             64
Setit                                  64
Uighurbiz                              59
                                     ...
Rasd TV                                 1
Diydor                                  1
Ol! (Yes!)                              1
RIA Novosti-Ukraine news agency         1
Agence Burundaise de Presse (ABP)       1
Name: organizations, Length: 843, dtype: int64

In [16]:
cpj['jobs'].value_counts()

Editor                                                                                            805
Print reporter                                                                                    719
Internet Reporter                                                                                 532
Columnist/Commentator                                                                             512
Publisher/Owner                                                                                   398
                                                                                                 ...
Photographer, Publisher/Owner                                                                       1
Broadcast Reporter, Internet Reporter, Photographer, Print reporter, Producer, Publisher/Owner      1
Publisher/Owner,Columnist/Commentator                                                               1
Documentary Filmmaker, Internet Reporter                                                            1
Camera Operator, Internet Reporter, Print reporter                                                  1
Name: jobs, Length: 117, dtype: int64

In [17]:
cpj['coverage'].value_counts()

Politics                  1539
Human Rights, Politics     443
Unknown                    201
Culture, Politics          178
Corruption, Politics       178
                          ...
Human rights                 1
Culture,Human Rights         1
Human rights, War            1
Crime, War                   1
Crime, Human Rights          1
Name: coverage, Length: 100, dtype: int64

In [19]:
cpj['mediums'].value_counts()

Print                                                   2403
Internet                                                1326
Internet, Print                                          331
Radio                                                    204
Television                                               144
Print, Internet                                           56
Internet, Television                                      44
Internet, Radio                                           43
Print, Radio, Television                                  38
Documentary Film                                          32
Print, Radio                                              16
Radio, Television                                         15
Documentary Film, Internet, Television                    14
Documentary Film, Internet                                14
Internet, Print, Television                               13
Radio, Print                                               9
Documentary Film, Print                                    9
Print, Television                                          8
Television, Radio                                          7
Internet, Print, Radio                                     5
Documentary Film, Internet, Print                          5
Internet, Radio, Television                                4
Internet, Print, Radio, Television                         4
Broadcast                                                  3
Documentary Film, Internet, Print, Radio, Television       3
Print,Television                                           1
Unknown                                                    1
print                                                      1
Name: mediums, dtype: int64

In [20]:
cpj['country'].value_counts()

China           952
Turkey          794
Eritrea         439
Iran            327
Myanmar         244
               ...
Ghana             1
Brazil            1
Burkina Faso      1
South Sudan       1
Panama            1
Name: country, Length: 93, dtype: int64

In [22]:
cpj['localOrForeign'].value_counts()

Local      4729
Foreign     125
Name: localOrForeign, dtype: int64

In [23]:
cpj['charges'].value_counts()

Anti-State                                             2212
Anti-state                                              754
No charge disclosed                                     381
Retaliatory                                             352
No Charge                                               303
Defamation                                              104
No charge                                               103
Anti-state, False News                                   77
Anti-state, Retaliatory                                  50
Anti-State, Retaliatory                                  39
Anti-State, False News                                   36
False News                                               31
Censorship Violation                                     27
Ethnic/Religious Insult                                  25
Ethnic or religious insult                               19
Anti-state, Defamation                                   18
Anti-State, Defamation                                   14
Anti-State, False news                                   12
False news                                               12
Defamation, Retaliatory                                  11
Anti-State, Defamation, Retaliatory                       9
Anti-state, Ethnic or religious insult, Retaliatory       8
Anti-State, Defamation, False News                        7
Anti-State, Ethnic or religious insult, Retaliatory       7
Anti-state, False News, Retaliatory                       6
Defamation, False News                                    6
Defamation, Ethnic/Religious Insult                       6
Anti-State, Censorship Violation                          6
Anti-state, False news                                    5
Anti-State, Defamation, Ethnic/Religious Insult           4
Anti-State, Ethnic/Religious Insult                       4
Retaliatory, Anti-State                                   4
False News, Retaliatory                                   4
Anti-state, Censorship Violation                          3
Anti-State, false news                                    3
Anti-State, Ethnic/Religious Insult, Retaliatory          2
Anti-State, False News, Retaliatory                       2
Retaliatory, False news                                   2
Ethnic or Religious Insult                                1
Ethnic or religious insult,                               1
Censorship violation                                      1
Anti-state, Defamation, False News                        1
Anti-state, retaliatory                                   1
Defamation, False news                                    1
False news, Defamation                                    1
Anti-State, Religious or ethnic insult                    1
Name: charges, dtype: int64

In [24]:
cpj['lengthOfSentence'].value_counts()

10+ years               1354
Not Sentenced            823
1 year to <5 years       635
Sentence pending         560
5 years to <10 years     539
5-10 years               231
Life                     100
<1 year                   60
10+ Years                 50
0-5 years                 50
Death                     22
0-5 Years                 21
5-10 Years                17
Not sentenced             12
not Sentenced              2
Name: lengthOfSentence, dtype: int64

In [25]:
cpj['healthProblems'].value_counts()

No     3676
Yes    1176
no        1
Name: healthProblems, dtype: int64

In [26]:
cpj['sentence'].value_counts()

Not Sentenced       994
Not sentenced       397
10 years            289
3 years             219
15 years            199
                   ...
3 year 5 months       1
1 year 3 months       1
2 years 1 month       1
2 years 3 months      1
9 months 10 days      1
Name: sentence, Length: 111, dtype: int64

In [27]:
cpj['locationImprisoned'].value_counts()

Unknown                                             421
Istanbul                                            142
Cairo                                                58
Jaw                                                  35
Baku                                                 27
                                                   ...
The Brazzaville house of arrest                       1
Wang Saphung Police Station, Loei Province            1
Luzira Maximum Security Prison, Kampala, Uganda,      1
Zhytomir                                              1
Baghdad                                               1
Name: locationImprisoned, Length: 102, dtype: int64

In [34]:
cpj.groupby(['country','locationImprisoned']).count().loc[:,['year']].head(20)

                                       year
country    locationImprisoned
Algeria    Algiers' El-Harrach Prison     1
           Unknown                        2
Azerbaijan Baku                          27
           Gobustan, Baku region          8
           Sheki                          3
Bahrain    Jaw                           35
Bangladesh Mymensingh Central Jail        2
           Unknown                        5
Cambodia   Phnom Penh                     2
Cameroon   Unknown                        3
China      Changchun, Jilin               7
           Changji, Xinjiang             11
           Chengdu, Sichuan              11
           Chongqing, Sichuan             5
           Chuanzhong, Sichuan           10
           Dali, Yunnan province          4
           Dongguan, Guangdong            7
           Hangzhou, Hangzhou             6
           Huanggang, Hubei              10
           Huzhou, Zhejiang               6